---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-4">
    <div class="text-sm font-light">
      <p>
        I'm Dean, a Frontend Software Developer from the UK living in Germany.
        <br />
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>TailwindCSS</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      As a Product Manager who saw the light and turned to coding, I tend to focus on creating user-centric web applications, bonus points if the project is serving the needs of gamers.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I am always open to learning new ones for the right project and team.
    </p>
  </div>
</Card>
