---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <a href="https://guildsofwow.com/" target="_blank">
    <div class="flex justify-between w-full items-start mb-2">
      <div class="flex flex-col">
        <h2>I'm currently...</h2>
      </div>
      <Pulse />
    </div>
    <p class="text-xs">- working on <b>Guild of WoW</b>, a Guild Management & Recruitment Platform for World of Warcraft.</p>
    <p class="text-xs">- looking for any work opportunities!</p>
  </a>
</Card>
